.person-card {
  width: 25%;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
}

.person-card img {
  width: 100%;
  height: 10%;
}

.person-card h2 {
  text-align: center;
}

.person-card p {
  text-align: center;
}
