.home-section1{
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.shape-under-images{
    height: 80rem;
    width: 40.5%;
    border-radius: 25rem 0 25rem 0;
    margin-left: auto;
    margin-right: 0;
    margin-top: -75px;
    background-image: linear-gradient(120deg, #0173BC , #3EC9B4);
}

.image{
    height: 500px;
}