.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 0;
  border-radius: 0.9rem 0.9rem 0 0.9rem;
  background-image: linear-gradient(120deg, #0173BC , #3EC9B4);
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  height: 4rem;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background-image: linear-gradient(60deg, #0173BC , #3EC9B4);
}

.button--inverse {
  background: transparent;
  color: #3ec9b4;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #3ec9b4;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 2rem;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}