.footer {
  margin-top: 2rem;
  background-color: rgb(235, 235, 235);
  height: 15rem;
  width: 100%;
}

.footer h2 {
  margin-left: 7%;
}

.footer p {
  margin-left: 7%;
}

.footer img {
  margin-top: 1%;
  margin-left: 6.3%;
  height: 30%;
}
